<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <form action="" target="_self" id="search-repair-validation" method="post">
        <div class="form-row align-items-top mt-3">
            <div class="col-sm-3">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span data-feather="calendar"></span></span>
                    </div>
                    <input type="date" class="form-control" data-date-format="mm/dd/yyyy" data-provide="datepicker-inline" id="fromDate" name="fromDate" value="<#if fromDate??>${fromDate}</#if>">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><span data-feather="calendar"></span></span>
                    </div>
                    <input type="date" class="form-control" data-date-format="mm/dd/yyyy" data-provide="datepicker-inline" id="untilDate" name="untilDate" value="<#if untilDate??>${untilDate}</#if>">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="ownerSsn" name="ownerSsn" placeholder="social security number" value="<#if ownerSsn??>${ownerSsn}</#if>">
                </div>
            </div>
            <div class="col-auto">
                <div class="input-group mb-2">
                    <button type="submit" class="btn btn-warning">search</button>
                </div>
            </div>
        </div>
    </form>
    <#if repairs??>
        <h5 class="mb-3">Results</h5>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Repair type</th>
                    <th>Property type</th>
                    <th>Cost</th>
                    <th>Address</th>
                    <th>Owner's social security number</th>
                    <th>Description</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Remove</th>
                </tr>
                </thead>
                <tbody>
                    <#list repairs as repair>
                        <tr data-id="${repair.id}">
                            <td>${repair.date}</td>
                            <td>${repair.repairStatus.getRepairStatus()}</td>
                            <td>${repair.repairType.getRepairType()}</td>
                            <td>${repair.propertyType.getPropertyType()}</td>
                            <td>${repair.cost}</td>
                            <td>${repair.address}</td>
                            <td>${repair.propertyOwner.ssn}</td>
                            <td>${repair.description}</td>
                            <td class="text-center"><a class="btn btn-link" href="/admin/edit-repair/${repair.id}"><span style="color: #ff9900;" data-feather="tool"></span></a></td>
                            <td class="text-center">
                                <button type="button" class="btn btn-link" data-toggle="modal" data-id="${repair.id}" data-target="#removeRepairModal">
                                    <span style="color: #ff9900;" data-feather="x"></span>
                                </button>
                            </td>
                        </tr>
                    </#list>
                </tbody>
            </table>
        </div>
    </#if>
</main>
